<!DOCTYPE html>
<html>
<head>
  <title>Solidus six payments</title>
  <%= stylesheet_link_tag    "solidus_six_payments/application", media: "all" %>
  <%= javascript_include_tag "solidus_six_payments/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
